{% extends "base.tpl" %}

{% block header %}
<link rel="stylesheet" href="/static/css/pygments-style.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block content %}
    &larr; <a href="/search?q={{ search_text }}&p={{ page_number }}">Back to search</a>
    <h3>{{ doc.result.path }}</h3>
        
    {% if http_status == 200 %}
    <p>
        <a href='{{ request.url }}&raw=true' class="btn small">raw</a>
    </p>
    {% endif %}
        
    <div class="syntax">
    {{ contents|safe }}
    </div>

    <div id='last-mod'>File last modified on {{ last_modified|dt_format }}</div>
{% endblock %}