{% extends "base.tpl" %}

{% block header %}
<link rel="stylesheet" href="/static/css/pygments-style.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block content %}
<form action="/search" method="GET">
  <div>
    <label for="text">Text</label>
    <input type="text" 
           class="field" 
           name="text" 
           autocomplete="off"
           autocorrect="off"
           value="{{ text }}" 
           id="text">
  </div>

  <div>
    <label for="path">Path</label>
    <input type="text" 
           class="field" 
           name="path" 
           value="{{ path }}" 
           id="path">
  </div>
  <div>
    <input type="submit" 
           value="Search" 
           class="btn primary"
           id="submit">
  </div>
  
  <div id="results">
  {% if results %}
    {% for result in results %}
    <div class='result syntax' data-src="{{ result.result.path }}">
        <pre>{{ result.html|safe }}</pre>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</form>
{% endblock %}