/*
 * Standard Styles ***
 */
.clear {
    clear: both;
}
#content {
    width: 850px;
    margin: 10 auto;
}
#content .search {
    width: 500px;
    font-size: 1.3rem;
    height: auto;
}
.error {
    color: #800000;
}
a {
    text-decoration: none;
}
a:link {
    color: blue;
}
.result a:visited {
    color: gray;
}
a.clear-btn {
    position: relative;
    top: 2px;
}
#last-indexed {
    font-size: small;
    color: #808080;
}
/* Search results styles */
.result pre {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    background-color: ghostWhite;
    border: 1px solid #DEDEDE;
    color: #444;
    padding: .5em;
}
.result:hover pre {
    background-color: white;
}
.result .card-body {
    padding: .5rem 1rem;
}
/* Document styles */
.syntax .sourcetable {
    border: none;
}
.sourcetable td {
    padding: 0;
}
.document #content {
    margin: auto;
    width: auto;
}
.document #last-mod {
    font-size: small;
    color: #808080;
}
/* displays the source code */
div.source pre {
    border: none;
    white-space: pre;
    margin-left: 10px;
}
/* displays the line numbers */
td.linenos pre {
    background-color: #d3d3d3;
    color: #fff;
    border-right: none;
    padding: 0 10px;
}
td.linenos pre a {
    color: white;
}
td.linenos pre a:hover {
    text-decoration: none;
    color: #000;
}
td.code {
    margin-left: 5px;
    /* fixes right border issue, next to the line numbers */
    border: none;
}
/* matched term in each search result */
.result .match {
    /* Google code search style */
    /*font-weight: bold;*/
    /*padding: 2px;*/

    /* Github search style */
    border-radius: 3px;
    font-style: italic;
    background-color: #ffff99;
    font-weight: bold;
}
